.menu-DNSChecklist {
    background-color: #FFE869;
}
.DNSChecklist {
    width: 900px;
    border-bottom: #77D1C9 2px solid;
}
.DNSChecklist-item-head{
    width: 900px;
    background-color: #77D1C9;
    border-radius: 10px;
}
.DNSChecklist-item {
    border-bottom: #77D1C9 1px dashed;
}
.head-numb, .numb {
    width: 100px;
    text-align: center;
}
.head-user, .user {
    width: 200px;
    text-align: center;
}
.head-put-resu, .put-resu {
    width: 180px;
    text-align: center;
}
.head-cret-date, .cret-date {
    width: 420px;
    text-align: center;
}
.numb, .user, .cret-date {
    padding-top: 20px;
}
#dns-chck-rslt {
    margin: 0 10px;
}