/* login-join */
.login-process, .join-process {
    width: 350px;
    padding-top: 60px;
}
.textbox-name {
    float: left;
    width: 120px;
    padding-top: 8px;
}
.id-pass {
    float: left;
    width: 230px;
}
#userid, #password, #passwordConfirm, .drop-down {
    width: 230px;
    height: 25px;
}
.drop-down {
    margin: 5px 0;
    padding-left: 10px;
    font-size: 18px;
}
#button-login, #button-join {
    float: right;
    width: 230px;
    height: 25px;
    margin-right: 0;
}
.welcomeEmoji {
    float: left;
    font-size: 50px;
    margin: 160px 0 0 0;
}
.welcomeText {
    float: left;
    font-size: 25px;
    margin: 190px 0 0 10px;
}

#contents {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

/* insertPost-process */
.insertPost-process {
    padding: 30px 0 0 30px;
}
#title-info {
    margin-bottom: 10px;
    width: 890px;
}
#title-info {
    width: 890px;
    height: 30px;
}
#write-info, #post-info {
    float: right;
}

/* info */
.menu-item-name {
    width: 1000px;
    margin: 25px 0 15px;
    font-size: 22px;
}
.info {
    width: 900px;
    border-bottom: #77D1C9 2px solid;
}
.info-item-head, .checklist-item-head {
    background-color: #77D1C9;
    border-radius: 10px;
}
.head-number, .number {
    width: 80px;
    text-align: center;
}
.head-number, .head-title {
    border-right: #ffffff 2px solid;
}
.head-title {
    text-align: center; 
}
.head-title, .title {
    width: 670px;
    padding-left: 20px;
}
.head-date, .date {
    width: 150px;
    text-align: center;
}
.info-item, .checklist-item {
    border-bottom: #77D1C9 1px dashed;
}
.info-item:hover {
    background-color: #d1f1ee;
    border-radius: 10px;
}
.modify-delete {
    width: 890px;
    padding: 0 0 0 710px;
    border-left: #d1f1ee 2px solid;
    border-right:  #d1f1ee 2px solid;
    background-color: white;
}
.content {
    width: 890px;
    height: auto;
    padding: 0 30px 20px;
    border: #d1f1ee 2px solid;
    border-top: 0px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dspnon {
    display: none;
}
.info-button {
    padding: 10px 20px;
    width: 890px;
}