/* menu-contents */
.menu-manager {
    background-color: #FFE869;
}
#contents {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}
.item-fl {
    float: left;
    padding: 15px 0;
    text-align: center;
}

/* content */
.textbox-name {
    float: left;
    padding: 5px 20px 0 10px;
}
.srch-cstm-dprt {
    width: 1000px;
}
.drop-down {
    width: 220px;
    height: 30px;
    padding-left: 10px;
    font-size: 18px;
}
.cstm-dprt {
    float: left;
    margin: 0 5px;
}
.srch-cstm-dprt {
    padding: 10px 20px;
    margin-bottom: 30px;
    background-color: #d1f1ee;
    border: 2px solid #77D1C9;
    border-radius: 10px;
}
#dprt-chck-list {
    margin-top: 0px;
    margin-bottom: 0px;
}
.checklist, .DNSChecklist {
    width: 1000px;
    border-bottom: #77D1C9 2px solid;
    margin-bottom: 30px;
}
.bord-name {
    font-size: 25px;
    margin-bottom: 5px;
}
.bord-name-mssg {
    font-size: 14px;
    margin-left: 25px;
    margin-bottom: 7px;
}
.checklist-item-head, .DNSChecklist-item-head{
    background-color: #77D1C9;
    border-radius: 10px;
}
.chck-item-detl, .DNSChecklist-item {
    border-bottom: #77D1C9 1px dashed;
}

/* 시험운영 체크리스트 */
.head-cstm-chck, .cstm-chck {
    width: 120px;
}
.head-dprt-chck, .dprt-chck {
    width: 160px;
}
.head-empl-name, .empl-name {
    width: 140px;
}
.head-chck-amnt, .chck-amnt {
    width: 80px;
}
.head-chck-pass, .chck-pass {
    width: 80px;
}
.head-chck-fail, .chck-fail {
    width: 80px;
}
.head-chck-nthr, .chck-nthr {
    width: 80px;
}
.head-un-chck, .un-chck {
    width: 80px;
}
.head-chck-prcn, .chck-prcn{
    width: 80px;
}
.head-unch-prcn, .unch-prcn{
    width: 80px;
}

/* DNS 체크리스트 */
.head-cstm-dns, .cstm-dns {
    width: 120px;
}
.head-dprt-dns, .dprt-dns {
    width: 180px;
}
.head-empl-cont, .empl-cont {
    width: 100px;
}
.head-chck-rslt-dns, .chck-rslt-dns {
    width: 100px;
}
.head-un-chck-dns, .un-chck-dns {
    width: 100px;
}
.head-chck-prcn-dns, .chck-prcn-dns {
    width: 100px;
}
.head-unch-prcn-dns, .unch-prcn-dns {
    width: 100px;
}
.head-unch-empl, .unch-empl {
    width: 200px;
}

.chck-amnt, .chck-pass, .chck-fail, .chck-nthr,
.un-chck, .chck-prcn, .unch-prcn,
.empl-cont, .chck-rslt-dns, .un-chck-dns, .chck-prcn-dns, .unch-prcn-dns {
    padding-top: 18px;
}